<h1>Maps#show</h1>
<p>Find me in app/views/maps/show.html.erb</p>
<div id="map"></div>
<script>
  $(window).ready(function(){
    $.getJSON ("/api/places")
    .done(function(data){
    var pizzaIcon = L.icon({
    iconUrl: 'http://apps.timwhitlock.info/static/images/emoji/emoji-apple/1f355.png',
    iconSize: [38, 95], // size of the icon
    iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
});

    data.places.forEach(function(pizza){
L.marker([pizza.lat, pizza.lng], {icon: pizzaIcon})
.addTo(window.map)
.bindPopup(pizza.name);

});
  });
</script>
